setup.md5
images/mpi.json
images
*.jpg
language/config_prueba.json
language/config.json
plugins/summary_reports
plugins/projects
plugins/plugins-resources
config.php
test.html
.vscode/launch.json
prueba.html
*.zip
admin/backups/.htaccess
LAT/config.json
lat.md5
