setup.md5
images/mpi.json
images
*.jpg
language/config_prueba.json
language/config.json
plugins/summary_reports
plugins/projects
plugins/plugins-resources
config.php

test.html
plugins/LAT/app-resources/config.json
LAT/config.json
.vscode/launch.json
LAT/prueba.html
prueba.html
*.zip
