[submodule "LAT/tvedit"]
	path = LAT/tvedit
	url = git@github.com:myappgini/sbm_tvedit.git
[submodule "LAT/plugins"]
	path = LAT/plugins
	url = git@github.com:myappgini/sbm_plugins.git
[submodule "plugins/lat"]
	path = plugins/lat
	url = git@github.com:myappgini/sbm_lat_plugin_install.git
[submodule "LAT/adminlte3"]
	path = LAT/adminlte3
	url = git@github.com:ColorlibHQ/AdminLTE.git
[submodule "LAT/gentelella"]
	path = LAT/gentelella
	url = git@github.com:ColorlibHQ/gentelella.git
